<form class="form-signup">
  <div class="page-header">
    <h2 class="form-signup-heading">Signup</h2>
  </div>

  <div class="message" class="alert" style="display:none;"></div>
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="text" id="email" class="form-control" placeholder="Enter Email" required autofocus></input>
  </div>
  <div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Enter Password" required></input>
  </div>
  <br/>
  <button type="submit" class="btn btn-lg btn-primary btn-bloc" id="user_add_btn">Signup</button>
</form>
