  <div class="jumbotron">
    <h1>Hello Cognito</h1>
    <p>This is a sample project of Cognito User Pools and Federated Identity.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Go to Login</a> <a class="btn btn-primary btn-lg" href="#" role="button">Go to Signup</a></p>
  </div>
