  <div class="jumbotron">
    <h1>Hello Cognito</h1>
    <p>This is a sample project of Cognito User Pools and Federated Identity.</p>
    <p id="top_buttons"><%= link_to 'Go to Login', login_path, class:"btn btn-primary btn-lg", role:"button" %> <%= link_to 'Go to Signup', signup_path, class:"btn btn-primary btn-lg", role:"button" %></p>
  </div>
